<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player – Pumpkin Man</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Player</h1>
<p>
    <button onclick="play()" id="play">Play</button>
    <button disabled onclick="stop()" id="stop">Stop</button>
</p>
<p><label>Loop <input type="checkbox" id="loop"></label></p>
<script>
    const webSocket = new WebSocket('{{ url_for("ws_play", identifier=identifier) }}');
    const stopButton = document.getElementById('stop');
    const playButton = document.getElementById('play');


    function play() {
        webSocket.send('play');
    }

    function stop() {
        document.getElementById('loop').checked = false;
        webSocket.send('stop');
    }

    function setPlaying(playing) {
        playButton.disabled = playing;
        stopButton.disabled = !playing;

        if (!playing && document.getElementById('loop').checked) {
            play();
        }
    }

    webSocket.onmessage = event => {
        setPlaying(event.data === 'playing');
    };

    webSocket.onclose = _ => window.setTimeout(() => window.location = '/', 1000);
</script>
</body>
</html>
